@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: 'Press Start 2P', monospace;
  background: #000;
  color: #fff;
}
